{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Edit Post</h1>
    
    <form method="POST" action="{% url 'edit_post' post.post_id %}">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <p class="error">{{ field.errors }}</p>
                {% endif %}
            </div>
        {% endfor %}
        

        <button type="submit" class="btn btn-primary btn-purple" style="width: 100%;">Save Changes</button>
        <a href="{% url 'individual_post' post.post_id %}" class="btn btn-primary btn-warning" style="width: 100%; margin-top: 10px;">Cancel</a>
    </form>
    <form method="POST" action="{% url 'delete_post' post.post_id %}" onsubmit="return confirm('Are you sure you want to delete this post? This action cannot be undone.');">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-danger" style="width: 100%; margin-top: 10px;">
            Delete Post
        </button>
    </form>
    






</div>
{% endblock %}
