{% extends "layout.html" %}
{% load static %}



{% block title %}Home{% endblock  %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

<div class="jumbotron text-center" style="background-color: purple; color: white;">
    <h1 class="display-4">Hello {{request.user.username}}!</h1>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Our mission</h1>
      <p class="lead">Job hunting is difficult. opengate was created to serve as a central hub for students to share insights, ask questions, and support one another in their career journeys. Whether you're seeking advice on job applications, interview strategies, or industry trends, opengate fosters a collaborative space where knowledge and experiences are freely exchanged. Our mission is to empower individuals with the resources, connections, and confidence they need to navigate the ever-changing job market.</p>
    </div>
  </div>
{% endblock  %}