{% extends "layout.html" %}
{% load static%}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    
    
</head>
<body>
    <div class="container">
        <h1>Create a new post</h1>
        <form method="POST" action="{% url 'create_post' %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <p class="error">{{ field.errors }}</p>
                    {% endif %}
                    
                </div>

            {% endfor %}
            <button type="submit" class="btn btn-primary btn-purple" style="width: 100%;">Post</button>
        </form>

    </div>
    
</body>
</html>

{% endblock  %}