{% extends "layout.html" %}
{% load custom_filters %}
{% load static %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Posts </title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css">


</head>
<body>
    
    <div class="container">
        <h1>All posts in {{industry_readable}} </h1>
        {% for post in posts %}
            <a href="{% url 'individual_post' id=post.post_id %}" class="post-preview">
                <div class="post-content">
                    <div class="post-header">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <span class="industry-badge">{{ post.topic_tag }}</span>
                        <span class="industry-badge">{{industry_readable}}</span>
                        <span class="author-badge">{{ post.author }}</span>
                    </div>
                    <p class="post-summary">
                        {{ post.content|truncatewords:60 }}
                    </p>
                </div>
            </a>
        {% endfor %}
    </div>
    
</body>
</html>
{% endblock  %}