{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron text-center">
    <h2>Reset Your Password</h2>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit">Send Reset Email</button>
      </form>
</div>
{% endblock %}
