{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <h2>Protected Page</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, error voluptatem quibusdam, labore dicta distinctio ipsam porro rerum nesciunt temporibus commodi ea aperiam, laboriosam at incidunt illum ut corporis. Et!</p>
        <a href="{% url 'home' %}">Home</a>
    </div>
    
</body>
</html>